.body{margin: 0;
padding: 0;}

#prof1{
    border-radius: 50%;
    height: 50%; ;
    margin-top:50px;
    


}

.title1{
    background-image: url(back.png);
    
    background-position: center;
    

.container-wall{
    margin: 0;
    width: 100%;
    height: 100vh;

    background-image:url(space-galaxy-astronomy-star-backgrounds-nebula-night-abstract-generated-by-ai.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    position:absolute; 
    align-content: center;


    
}

#image2{border-radius: 10%;}


#icon1{margin-right: 50px; color: black; background-color: rgb(255, 255, 255);}
#icon2{margin-right: 50px; color: blue;
    background-color: #fff;}
#icon3{margin-right: 50px; color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;}
#icon4{margin-right: 50px; color: red;background-color: white;
}


.flex-container{
    
    display: flex;
    justify-content: center;


}

#p1{ 
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: italic;}
  

#h12{
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 3px 0 floralwhite;
    font-size: 44px;
    color:floralwhite
  }
  #num1{
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
  }
  #phone{
    margin-top: 10px;
    
  
   }
   #section3{
    background-image: url(pikaso_texttoimage_comic-stars-night-space.jpeg);
    
   }
   #name{
    text-shadow: #d6249f;
    color: black;
    font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;

   }

   #nameunder2{
    color:black ;
    text-shadow: 0px 0px 5px 5px black;
    
   }
   #nameunder3{
    color: black;
    
   }
   
   #header1{
    color: #fad59d;
    padding-bottom: 50px;

        font-family: "Permanent Marker", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 55px;     
        


   }


   #testimonial{
    background-image: url();
    background-color:white;
   }

   #testidiv{
    background-image: url(paint.png);

box-shadow: 0px 0px 8px 3px green;


   }

   .card-text{font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px; 

    
    
 }

 .btn-group{
    background-color: skyblue;
    
 }

 .third{
    
    background-image: url(v535batch2-mynt-23.jpg);
    box-shadow: 0px 0px 2px 3px black;
background-size: 100%;
background-position: center;
color: #fff;
 }


#trip{
    color: black;
    text-shadow: 0px 0px 5px 5px ;
    
}
#backofdi{
    background-color: black;
}

#resume{
    background-color: black;
    color: #ffE993;
    box-shadow: 0px 0px 5px 8px greenyellow;
    margin-bottom: 20px;
}

#num{
    margin-top: 70px;
margin-bottom: 10px;
}
#phone{
    margin-top: 77;
}


